@font-face {
   font-family: 'Hello Santuy';
   font-display: swap;
   src: url('file:///C:/Users/Matt/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-04-23_100109/fonts/Hello%20Santuy/font.ttf');
}
